h3 {
  margin: 0% 15% 0 37%;
  padding: 0px;
  font-family: Nunito Sans, sans-serif;
  font-size: 1.5em;
  color: black;
}

.sfg-canvas {
  width: 100%;
  height: 100%;
  display: inline-block;
}

.simulate-button {
  margin: 2px 50% 0 42%;
  color: black;
  border: 1px solid #e5e5e5;
  background-color: #cccccc;
  font-size: 0.9em;
  font-family: Nunito Sans, sans-serif;
  padding: 2px;
  width: 20%;
  height: 5%;
  cursor: pointer;
  border-radius: 6%;
}

.simulate-button:hover {
  background-color: #f04b4c;
  color: white;
  transition: 0.2s;
}

.sfg-help-text {
  font-family: Nunito Sans, sans-serif;
  margin: 0 35% 0;
  width: 100%;
  color: #aaa;
  font-size: 1em;
}

.sfg-wrapper {
  width: 80%;
  height: 60%;
  background-color: white;
  border: 1px solid #dddd;
  margin: 0% 0 0% 17%;
}

#fit-icon {
  position: absolute;
  margin: 29% -2% 10%;
  color: #ccc;
  font-size: 1.5em;
  cursor: pointer;
}
#fit-icon:hover {
  position: absolute;
  color: #999;
  font-size: 1.5em;
  cursor: pointer;
  transition: 0.2s;
}