h3 {
  margin: 0% 15% 0 42%;
  padding: 0px;
  font-family: Nunito Sans, sans-serif;
  font-size: 1.5em;
  color: black;
}

.sfg-canvas {
  width: 100%;
  height: 100%;
  display: inline-block;
}

.sfg-help-text {
  font-family: Nunito Sans, sans-serif;
  margin: 0 35% 0;
  width: 100%;
  color: #aaa;
  font-size: 1em;
}

.sfg-wrapper {
  width: 60%;
  height: 80%;
  background-color: white;
  margin: auto;
}

#fit-icon {
  margin-left: 10px;
  position: absolute;
  color: #ccc;
  font-size: 1.5em;
  cursor: pointer;
}
#fit-icon:hover {
  position: absolute;
  color: #999;
  font-size: 1.5em;
  cursor: pointer;
  transition: 0.2s;
}
