h1 {
  margin: 3% 10% 0 30%;
  padding: 0px;
  font-family: Calibri, sans-serif;
  font-size: 2.5em;
  color: black;
}

.sfg-canvas {
  width: 80%;
  height: 70%;
  background-color: white;
  border: 1px solid #8E8E8E;
  margin: 5% 20% 0% 10%;
}

.simulate-button {
  margin: 0 50% 0 42%;
  color: black;
  border: 1px solid #e5e5e5;
  background-color: #cccccc;
  font-size: 1em;
  font-family: Calibri, sans-serif;
  padding: 2px;
  width: 20%;
  height: 5%;
}

.simulate-button:hover {
  background-color: tomato;
  color: white;
  transition: 0.2s;

}